*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.dex
*.class
*.log
*.jar
*.war
*.nar
*.hprof
*.ap_
*.aar
*.dylib
*.dll
*.exe
*.o
*.so
*.pdb
*.mdb
*.dSYM.zip
*.dSYM